/* LoginSignup.css */

.login-signup-container {
  background-image: url('/images/LogSign_bg.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh; 
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



.logsign-button {
  position: fixed;
  top: 10px;
  right: 10px;    
  z-index: 50000;   
  background-color: #F79534;
  transition: background-color 0.3s, transform 0.3s;
  border: none;
}
.form-container {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 700px;
}

.form-header h1 {
  font-family: "Orbitron", sans-serif;
  color: #384182; 
}

.input-text {
  border: 2px solid #757F8F;
  padding: 0.75rem;
  margin-bottom: 1rem;
  width: 300px;
}

.input-text:focus {
  border-color: #F0513A;
  outline: none; 
}

.submit-button {
  background-color: #384182; 
  color: white;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

.submit-button:hover {
  background-color: #F79534; 
}

.link-text {
  color: #F0513A;
  text-align: center;
  display: block;
  margin-top: 1rem;
}

.link-text:hover {
  color: #757F8F; 
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .login-signup-container {
    padding: 20px;
  }

  .form-container {
    width: auto;
  }
}
