.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .toggle-button {
    position: fixed;
    top: 10px;
    right: 10px;    
    z-index: 1200;   
    background-color: #F79534;
    transition: background-color 0.3s, transform 0.3s;
    border: none;
  }
  
  .toggle-button:hover {
    background-color: #384182;
  }

  .toggle-button.open {
    transform: rotate(90deg);
  }