/* Header.css */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-button {
  position: fixed; 
  top: 10px;      
  right: 10px;    
  z-index: 100;  
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .toggle-button {
    display: block; /* Show the toggle button on mobile devices */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
  }
}