/* NavBar.css */
.sidebar {
    width: 350px; /* Adjust to the size of your sidebar */
    position: fixed;
    top: 0;
    left: -250px; /* Start off screen */
    height: 100%;
    background-image: linear-gradient(to right, #384182, #F0513A, #F79534);
    transition: left 0.3s ease;
  }
  
  .sidebar.open {
    left: 0; /* Bring on screen when open */
  }
  
/* Media query for mobile devices */
@media (max-width: 768px) {
  .sidebar {
    width: 100%; /* Full width on mobile devices */
    transform: translateX(-100%); /* Start off screen */
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.open {
    transform: translateX(0); /* Bring on screen when open */
  }
}